@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins&display=swap');

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fdd2d3; /* Pale pinkish-red background */
  }

  .scroll {
    position: absolute;
    top: 0px;
    width: 100vw;
    overflow: hidden;
    z-index: 1;
    margin: 0;
    padding: 0;
  }
  
   .scroll img{
    width: 90%;
    height: 90%;
  }
  
  .m-scroll {
    overflow: hidden;
    height: 20%;
    white-space: nowrap;
    animation: scrollText 3s infinite linear;
    margin: 0;
    font-size: 0;
    display: flex;
    justify-content: space-between;
    width: 250%;
  }
  
  span {
    display: inline-block;
    margin: 0;
    padding: 0;
    color: white;
  }
  
  @keyframes scrollText {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-50%);
    }
  }



  .top-bar {
    display: flex; /* Use flex container */
    justify-content: center; /* Center the images horizontally */
    align-items: center; /* Center the images vertically */
  }

  .top-bar img {
    margin: 0 10px; /* Add some space between images */
  }
  #sky{
    height: 250px;
    /* width: 2000px; */
    position: absolute;
    top: 10px;
  }
  .container {
    width: 600px;
    height: 600px;
    position: absolute;
    top: 20%;
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .heart {
    height: 100px;
    width: 100px;
    background: #ff4d4d; /* Heart color */
    position: relative;
    top: 20%;
    /* top: 500px; */
    /* left: 45%; Adjust horizontal position */
    transform: rotate(-45deg);
    box-shadow: -10px 10px 50px #ff4d4d; /* Heart shadow color */
    animation: heart 1.2s linear infinite;
  }
  .container span{
    font-size: 105px; /* Adjust font size as needed */
    font-weight: 600;
    position: relative;
    top: 40%;
    /* left: 40%; */
    color: #ff4d4d; /* Red color */
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
  }

  
  span{
    font-size: 35px; /* Adjust font size as needed */
    font-weight: 600;
    position: relative;
    top: 40%;
    /* left: 40%; */
    color: #f87878; /* Red color */
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
  }
  .buttons{
    position: absolute;
    top: 60%;
  }

  .buttons button{
    margin: 30px;
    font-size: 36px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    width: 180px;
    height: 80px;
    color: white;
    border: transparent;
    border-radius: 14px;
    background-color: #ff4d4d;
  }

  @keyframes heart {
    0% {
      transform: rotate(-45deg) scale(1.0);
    }
    50% {
      transform: rotate(-45deg) scale(1.2);
    }
    100% {
      transform: rotate(-45deg) scale(0.9);
    }
  } 

  .heart::before {
    content:  '';
    position: absolute;
    height: 100px;
    width: 100px;
    background: #ff4d4d; /* Heart color */
    bottom: 50px;
    border-radius: 50%;
    box-shadow: -10px -10px 50px #ff4d4d; /* Heart shadow color */
  }

  .heart::after {
    content:  '';
    position: absolute;
    height: 100px;
    width: 100px;
    background: #ff4d4d; /* Heart color */
    left: 50px;
    border-radius: 50%;
    box-shadow: 10px 10px 50px #ff4d4d; /* Heart shadow color */
  }

  
  #gif1{
    width: 500px;
    height: 500px;
    position: absolute;
    bottom: 1px;
    left:1px
  }

  #gif2{
    width: 500px;
    height: 500px;
    position: absolute;
    bottom: 1px;
    right:1px
  }